.dokuwiki .plugin_tabbox.js {
    position: relative;
    margin-bottom: 1em;

    ul.tabs li.active a {
        background-color: @ini_background_alt;
        color: @ini_text;
        text-decoration: none;
        font-weight: normal;

        z-index: 2;
        border-bottom-color: @ini_background_alt;

    }

    div.tabboxtab {
        background-color: @ini_background_alt;
        border-left: 1px solid @ini_border;
        border-right: 1px solid @ini_border;
        border-bottom: 1px solid @ini_border;

        padding: 1em;
    }

    div.secedit {
        position: absolute;
        margin-top: 0;
        top: 0px;
        right: 0;
    }

}